@charset "UTF-8";
@font-face {
    font-family: 'Space Grotesk';
    url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    url('../fonts/SpaceGrotesk-SemiBold.ttf') format('truetype'),
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype'),
    font-weight: bold;
    font-style: normal;
}
